Language: Cpp
BasedOnStyle: Google
ColumnLimit: 100

# Only sort headers in each include block
SortIncludes: true
IncludeBlocks: Preserve
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: None
BraceWrapping:
  SplitEmptyFunction: true

---
Language: ObjC
BasedOnStyle: Google
ColumnLimit: 100

# Only sort headers in each include block
SortIncludes: true
IncludeBlocks: Preserve
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: None
BraceWrapping:
  SplitEmptyFunction: true
