# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.a
#*.lib

# Executables
*.exe
*.out
*.app

# Gradle
captures/
build/


# Android
.gradle
.externalNativeBuild
local.properties

# IDEA Projects
!.idea
**/.idea/*
!**/.idea/fileTemplates/
!**/.idea/misc.xml

# CodeBuddy
.codebuddy/designs/

/third_party
/out
/result
/vendor_tools
cmake-build-*
node_modules
Build/
test/out/
test/baseline-out/
DerivedData/
xcuserdata
xcshareddata
*.xcworkspace
.DS_Store
.temp
Pods/
Podfile.lock
Adobe After Effects Auto-Save/
.cxx
/.sync_deps.cmake
/build.yml
.vs
win/Win32Demo/x64
win/x64
win/paglib
win/build
win/Debug/
win/Release/
win/Win32Demo/Debug/
win/Win32Demo/Release/
QTCMAKE.cfg
test/baseline/.cache
.vscode
ios/PAG
mac/PAG
linux/vendor/
/PAG
.cache

# PAGX Playground
playground/wasm-mt
playground/build-pagx-playground
playground/.pagx.wasm-mt.md5
playground/node_modules
playground/package-lock.json

# PAGX Site
public

# PAGX Spec
spec/node_modules
spec/package-lock.json

