.container {
  display: flex;
  position: relative;
}

.zebra {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 640px;
  height: 640px;
  background-color: #eee;
  background-image: linear-gradient(45deg, #bbb 25%, transparent 0),
    linear-gradient(45deg, transparent 75%, #bbb 0), linear-gradient(45deg, #bbb 25%, transparent 0),
    linear-gradient(45deg, transparent 75%, #bbb 0);
  background-position: 0 0, 15px 15px, 15px 15px, 30px 30px;
  background-size: 30px 30px;
}

#pag {
  position: relative;
  z-index: 999;
}

.btn-box {
  padding: 0 8px;
}

button {
  width: 80px;
  height: 36px;
  margin-top: 8px;
  background: #005ad9;
  color: #fff;
  border: 0;
  border-radius: 4px;
}

#info {
  padding: 8px;
}
