# This is a basic workflow to help you get started with Actions

name: autotest

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  autotest:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: macos-latest

    steps:
      - name: Get environment cache
        id: cache-environment
        uses: actions/cache@v2
        with:
          path: |
            /usr/local/Cellar/ninja
            /usr/local/Cellar/icu4c
            /usr/local/bin/ninja
            /usr/local/Cellar/node
            /usr/local/bin/node
            /usr/local/Cellar/yasm
            /usr/local/bin/yasm
            /usr/local/bin/depsync
            /usr/local/lib/node_modules/depsync
            /usr/local/Cellar/gcovr
            /usr/local/bin/gcovr
            /usr/local/Cellar/emsdk
            /usr/local/Cellar/emsdk/upstream/emscripten
            /usr/local/Cellar/emsdk/node/14.18.2_64bit/bin
            /usr/local/bin/em++
            /usr/local/bin/em-config
            /usr/local/bin/emar
            /usr/local/bin/embuilder
            /usr/local/bin/emcc
            /usr/local/bin/emcmake
            /usr/local/bin/emconfigure
            /usr/local/bin/emdump
            /usr/local/bin/emdwp
            /usr/local/bin/emmake
            /usr/local/bin/emnm
            /usr/local/bin/emrun
            /usr/local/bin/emprofile
            /usr/local/bin/emscons
            /usr/local/bin/emsize
            /usr/local/bin/emstrip
            /usr/local/bin/emsymbolizer
            /usr/local/bin/emcc.py
            /usr/local/bin/emcmake.py
            /usr/local/bin/emar.py            
          key: libpag-environment-autotest-20221018
          restore-keys: |
            libpag-environment-autotest-20221018
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Get thirdParty cache
        id: cache-thirdParty
        uses: actions/cache@v2
        with:
          path: |
            third_party
            tgfx
            test/baseline/.cache
          key: third_party-autotest-01-${{ hashFiles('DEPS') }}-${{ hashFiles('vendor.json') }}-${{ hashFiles('test/baseline/version.json') }}
          restore-keys: third_party-autotest-
      - name: Run sync_deps script
        run: |
          chmod +x sync_deps.sh
          ./sync_deps.sh
        shell: bash

      - if: github.event_name == 'push'
        name: Build cache（push）
        run: |
          node build_vendor -p mac
          if [ ! $(which gcovr) ]; then
            brew install gcovr
          fi
          chmod +x update_baseline.sh
          ./update_baseline.sh 1
          mkdir result
          cp -r test/baseline result

      - if: github.event_name == 'pull_request'
        name: Run autotest script
        run: |
          chmod +x autotest.sh
          ./autotest.sh

      - name: codecov
        if: github.event_name == 'pull_request'
        uses: codecov/codecov-action@v2.1.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: libpag/result/coverage.xml
      - name: The job has failed
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: result
          path: result
      - uses: actions/upload-artifact@v2
        with:
          name: result
          path: result
