name: autotest

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  mac:
    # the macos-latest may randomly give us macos-12.6.9 or macos-12.7.0 which may break the autotest.
    runs-on: macos-13
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Get Environment Cache
        id: environment-cache
        uses: actions/cache/restore@v3
        with:
          path: |
            /usr/local/Cellar/ninja
            /usr/local/Cellar/icu4c
            /usr/local/bin/ninja
            /usr/local/Cellar/yasm
            /usr/local/bin/yasm
            /usr/local/bin/depsync
            /usr/local/lib/node_modules/depsync
            /usr/local/Cellar/gcovr
            /usr/local/bin/gcovr
            /usr/local/Cellar/python-lxml
            /usr/local/Cellar/python-markupsafe
          key: libpag-environment-autotest-20231028
          restore-keys: libpag-environment-autotest-

      - name: Get Third-Party Cache
        id: third-party-cache
        uses: actions/cache/restore@v3
        with:
          path: |
            third_party
            tgfx
            test/baseline/.cache
          key: third-party-autotest-${{ hashFiles('DEPS') }}-${{ hashFiles('vendor.json') }}-${{ hashFiles('test/baseline/version.json') }}
          restore-keys: third-party-autotest-

      - name: Run depsync
        run: |
          npm install depsync -g
          depsync
        shell: bash

      - name: Check Code Format
        run: |
          chmod +x codeformat.sh
          ./codeformat.sh
        shell: bash

      - name: Run Autotest
        run: |
          chmod +x autotest.sh
          ./autotest.sh

      - name: Run Codecov
        run: |
          chmod +x codecov.sh
          ./codecov.sh

      - name: Upload Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: result/coverage.xml

      - name: Save Environment Cache
        if: ${{ (github.event_name == 'push') && (steps.environment-cache.outputs.cache-hit != 'true') }}
        uses: actions/cache/save@v3
        with:
          path: |
            /usr/local/Cellar/ninja
            /usr/local/Cellar/icu4c
            /usr/local/bin/ninja
            /usr/local/Cellar/yasm
            /usr/local/bin/yasm
            /usr/local/bin/depsync
            /usr/local/lib/node_modules/depsync
            /usr/local/Cellar/gcovr
            /usr/local/bin/gcovr
            /usr/local/Cellar/python-lxml
            /usr/local/Cellar/python-markupsafe
          key: libpag-environment-autotest-20231028

      - name: Save Third-Party Cache
        if: ${{ (github.event_name == 'push') && (steps.third-party-cache.outputs.cache-hit != 'true') }}
        uses: actions/cache/save@v3
        with:
          path: |
            third_party
            tgfx
            test/baseline/.cache
          key: third-party-autotest-${{ hashFiles('DEPS') }}-${{ hashFiles('vendor.json') }}-${{ hashFiles('test/baseline/version.json') }}

      - name: Job Failed
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: result
          path: result

      - uses: actions/upload-artifact@v3
        with:
          name: result
          path: result
