name: autotest

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  mac:
    # the macos-latest may randomly give us macos-12.6.9 or macos-12.7.0 which may break the autotest.
    runs-on: macos-14
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true

      - name: Get Third-Party Cache
        id: third-party-cache
        uses: actions/cache/restore@v4
        with:
          path: |
            third_party
            test/baseline/.cache
          key: third-party-autotest-${{ hashFiles('DEPS') }}-${{ hashFiles('vendor.json') }}-${{ hashFiles('test/baseline/version.json') }}
          restore-keys: third-party-autotest-

      - uses: tecolicom/actions-use-homebrew-tools@v1
        with:
          tools: ninja yasm gcovr

      - name: Run depsync
        run: |
          npm install depsync -g
          depsync
        shell: bash

      - name: Check Code Format
        run: |
          chmod +x codeformat.sh
          ./codeformat.sh
        shell: bash

      - name: Run Autotest
        run: |
          mkdir -p third_party/tgfx/out/cache
          chmod +x autotest.sh
          ./autotest.sh USE_SWIFTSHADER

      - name: Run Codecov
        run: |
          chmod +x codecov.sh
          ./codecov.sh

      - name: Upload Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: result/coverage.xml
          version: 'v0.7.3'

      - name: Save Third-Party Cache
        if: ${{ (github.event_name == 'push') && (steps.third-party-cache.outputs.cache-hit != 'true') }}
        uses: actions/cache/save@v4
        with:
          path: |
            third_party
            test/baseline/.cache
          key: third-party-autotest-${{ hashFiles('DEPS') }}-${{ hashFiles('vendor.json') }}-${{ hashFiles('test/baseline/version.json') }}

      - name: Job Failed
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: result
          path: result

      - uses: actions/upload-artifact@v4
        with:
          name: result
          path: result
