# This is a basic workflow to help you get started with Actions

name: autotest

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  pull_request:
    branches: [ main ]
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  autotest:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: macos-latest

    steps:
      - name: Get environment cache
        id: cache-environment
        uses: actions/cache@v2
        with:
          path: |
            /usr/local/Cellar/ninja
            /usr/local/bin/ninja
            /usr/local/Cellar/node
            /usr/local/bin/node
            /usr/local/Cellar/emscripten
            /usr/local/bin/emscripten
            /usr/local/Cellar/yasm
            /usr/local/bin/yasm
            /usr/local/Cellar/depsync
            /usr/local/bin/depsync
          key: libpag-environment-20220208
      - if: github.event_name == 'pull_request'
        name: Get libpag cache (pull_request)
        id: libpag-pull_request
        uses: actions/cache@v2
        with:
          path: libpag.tar.zst
          key: libpag-autotest-${{ github.event.pull_request.base.sha }}
          restore-keys: libpag-autotest-
      - name: Check file existence
        id: check_files
        uses: andstor/file-existence-action@v1
        with:
          files: "libpag.tar.zst"
      - name: File exist
        if: steps.check_files.outputs.files_exists == 'true'
        # Only runs if all of the files exists
        run: |
          echo "file exist"
          tar xvf libpag.tar.zst
          rm -rf libpag.tar.zst
      - name: File not exist
        if: steps.check_files.outputs.files_exists != 'true'
        run: |
          echo "file not exist"
          git clone -b main https://github.com/Tencent/libpag.git
      - if: github.event_name == 'push'
        name: Swith branch (push)
        run: |
          cd libpag
          git pull
      - if: github.event_name == 'pull_request'
        name: Swith branch (pull_request)
        run: |
            cd libpag
            git pull
            git checkout ${{ github.head_ref }}
            git pull
            git rev-parse HEAD

      - name: Run autotest script
        run: |
          cd libpag
          chmod +x sync_deps.sh
          ./sync_deps.sh
          chmod +x autotest.sh
          ./autotest.sh
        shell: bash
      - name: codecov
        uses: codecov/codecov-action@v2.1.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: libpag/result/coverage.xml
      - name: The job has failed
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: result
          path: libpag/result
      - uses: actions/upload-artifact@v2
        with:
          name: result
          path: libpag/result
      - name: Compress libpag
        run: |
          cd libpag
          rm -rf result
          git checkout main
          cd ..
          tar cvfa libpag.tar.zst libpag

