# This is a basic workflow to help you get started with Actions

name: build_linux

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build_linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true
      - name: Checkout LFS objects
        run: git lfs checkout
      - uses: actions/checkout@v2
        with:
          lfs: true
      - name: Checkout LFS objects
        run: git lfs checkout
      - name: Get thirdParty cache
        id: cache-thirdParty
        uses: actions/cache@v2
        with:
          path: |
            third_party
            vendor_tools
          key: third_party-linux-${{ hashFiles('DEPS') }}-${{ hashFiles('vendor.json') }}
          restore-keys: third_party-linux-

      - uses: seanmiddleditch/gha-setup-ninja@master
      - name: Run sync_deps script
        run: |
          chmod +x sync_deps.sh
          ./sync_deps.sh
          chmod +x build_linux.sh
          ./build_linux.sh

      - if: github.event_name == 'push'
        name: Build cache（push）
        run: |
          node build_vendor

      - if: github.event_name == 'pull_request'
        name: Run build_linux script
        run: |
          chmod +x build_linux.sh
          ./build_linux.sh