name: build

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  ios:
    runs-on: macos-latest
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v3
        with:
          lfs: true

      - name: Get Environment Cache
        id: environment-cache
        uses: actions/cache/restore@v3
        with:
          path: |
            /usr/local/Cellar/ninja
            /usr/local/Cellar/icu4c
            /usr/local/bin/ninja
            /usr/local/Cellar/yasm
            /usr/local/bin/yasm
          key: libpag-environment-ios-20231129
          restore-keys: libpag-environment-ios-

      - name: Get Third-Party Cache
        id: third-party-cache
        uses: actions/cache/restore@v3
        with:
          path: |
            third_party
          key: third-party-ios-${{ hashFiles('DEPS') }}-${{ hashFiles('vendor.json') }}
          restore-keys: third-party-ios-

      - name: Install Build Tools
        run: |
          chmod +x install_tools.sh
          ./install_tools.sh
        shell: bash

      - name: Run depsync
        run: |
          npm install depsync -g
          depsync
        shell: bash

      - name: Build iOS
        run: |
          mkdir -p third_party/tgfx/out/cache
          cd ios
          node gen_ios
          xcodebuild -workspace PAGViewer.xcworkspace -scheme PAGViewer -configuration Release -sdk iphoneos -arch arm64 CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO

      - name: Save Environment Cache
        if: ${{ (github.event_name == 'push') && (steps.environment-cache.outputs.cache-hit != 'true') }}
        uses: actions/cache/save@v3
        with:
          path: |
            /usr/local/Cellar/ninja
            /usr/local/Cellar/icu4c
            /usr/local/bin/ninja
            /usr/local/Cellar/yasm
            /usr/local/bin/yasm
          key: libpag-environment-ios-20231129

      - name: Save Third-Party Cache
        if: ${{ (github.event_name == 'push') && (steps.third-party-cache.outputs.cache-hit != 'true') }}
        uses: actions/cache/save@v3
        with:
          path: |
            third_party
          key: third-party-ios-${{ hashFiles('DEPS') }}-${{ hashFiles('vendor.json') }}

      - name: Job Failed
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: ios_build
          path: ios

  android:
    runs-on: windows-latest
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v3
        with:
          lfs: true

      - name: Get Third-Party Cache
        id: third-party-cache
        uses: actions/cache/restore@v3
        with:
          path: |
            third_party
          key: third-party-android-${{ hashFiles('DEPS') }}-${{ hashFiles('vendor.json') }}
          restore-keys: third-party-android-

      - name: Run depsync
        run: |
          npm install depsync -g
          depsync

      - uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r19c
          link-to-sdk: true
          local-cache: true

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      - name: Build Android
        run: |
          mkdir -p third_party/tgfx/out/cache
          cd android
          ./gradlew assembleRelease -Parm64-only

      - name: Save Third-Party Cache
        if: ${{ (github.event_name == 'push') && (steps.third-party-cache.outputs.cache-hit != 'true') }}
        uses: actions/cache/save@v3
        with:
          path: |
            third_party
          key: third-party-android-${{ hashFiles('DEPS') }}-${{ hashFiles('vendor.json') }}

      - name: Job Failed
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: android_build
          path: android

  web:
    runs-on: macos-latest
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v3
        with:
          lfs: true

      - name: Get Environment Cache
        id: environment-cache
        uses: actions/cache/restore@v3
        with:
          path: |
            /usr/local/Cellar/ninja
            /usr/local/Cellar/icu4c
            /usr/local/bin/ninja
            /usr/local/Cellar/yasm
            /usr/local/bin/yasm
            /usr/local/Cellar/emsdk
            /usr/local/bin/em++
            /usr/local/bin/em-config
            /usr/local/bin/emar
            /usr/local/bin/embuilder
            /usr/local/bin/emcc
            /usr/local/bin/emcmake
            /usr/local/bin/emconfigure
            /usr/local/bin/emdump
            /usr/local/bin/emdwp
            /usr/local/bin/emmake
            /usr/local/bin/emnm
            /usr/local/bin/emrun
            /usr/local/bin/emprofile
            /usr/local/bin/emscons
            /usr/local/bin/emsize
            /usr/local/bin/emstrip
            /usr/local/bin/emsymbolizer
            /usr/local/bin/emcc.py
            /usr/local/bin/emcmake.py
            /usr/local/bin/emar.py
          key: libpag-environment-web-20231129
          restore-keys: libpag-environment-web-

      - name: Get Third-Party Cache
        id: third-party-cache
        uses: actions/cache/restore@v3
        with:
          path: |
            third_party
            web/node_modules
          key: third-party-web-${{ hashFiles('DEPS') }}-${{ hashFiles('vendor.json') }}
          restore-keys: third-party-web-

      - name: Run depsync
        run: |
          chmod +x sync_deps.sh
          ./sync_deps.sh
        shell: bash

      - name: Build Web
        run: |
          mkdir -p third_party/tgfx/out/cache
          cd web/script
          chmod +x build.sh
          ./build.sh

      - name: Save Environment Cache
        if: ${{ (github.event_name == 'push') && (steps.environment-cache.outputs.cache-hit != 'true') }}
        uses: actions/cache/save@v3
        with:
          path: |
            /usr/local/Cellar/ninja
            /usr/local/Cellar/icu4c
            /usr/local/bin/ninja
            /usr/local/Cellar/yasm
            /usr/local/bin/yasm
            /usr/local/Cellar/emsdk
            /usr/local/bin/em++
            /usr/local/bin/em-config
            /usr/local/bin/emar
            /usr/local/bin/embuilder
            /usr/local/bin/emcc
            /usr/local/bin/emcmake
            /usr/local/bin/emconfigure
            /usr/local/bin/emdump
            /usr/local/bin/emdwp
            /usr/local/bin/emmake
            /usr/local/bin/emnm
            /usr/local/bin/emrun
            /usr/local/bin/emprofile
            /usr/local/bin/emscons
            /usr/local/bin/emsize
            /usr/local/bin/emstrip
            /usr/local/bin/emsymbolizer
            /usr/local/bin/emcc.py
            /usr/local/bin/emcmake.py
            /usr/local/bin/emar.py
          key: libpag-environment-web-20231129

      - name: Save Third-Party Cache
        if: ${{ (github.event_name == 'push') && (steps.third-party-cache.outputs.cache-hit != 'true') }}
        uses: actions/cache/save@v3
        with:
          path: |
            third_party
          key: third-party-web-${{ hashFiles('DEPS') }}-${{ hashFiles('vendor.json') }}

      - name: Job Failed
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: web_build
          path: out

  win:
    runs-on: windows-latest
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v3
        with:
          lfs: true

      - name: Get Third-Party Cache
        id: third-party-cache
        uses: actions/cache/restore@v3
        with:
          path: |
            third_party
          key: third-party-windows-${{ hashFiles('DEPS') }}-${{ hashFiles('vendor.json') }}
          restore-keys: third-party-windows-

      - name: Run depsync
        run: |
          npm install depsync -g
          depsync
        shell: bash

      - name: Build Windows
        run: |
          mkdir third_party/tgfx/out/cache
          node third_party/vendor_tools/ms-build -a x64 win/Win32Demo.sln

      - name: Save Third-Party Cache
        if: ${{ (github.event_name == 'push') && (steps.third-party-cache.outputs.cache-hit != 'true') }}
        uses: actions/cache/save@v3
        with:
          path: |
            third_party
          key: third-party-windows-${{ hashFiles('DEPS') }}-${{ hashFiles('vendor.json') }}

      - name: Job Failed
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: win_build
          path: out

  linux:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v3
        with:
          lfs: true

      - name: Get Third-Party Cache
        id: third-party-cache
        uses: actions/cache/restore@v3
        with:
          path: |
            third_party
          key: third-party-linux-${{ hashFiles('DEPS') }}-${{ hashFiles('vendor.json') }}
          restore-keys: third-party-linux-

      - uses: seanmiddleditch/gha-setup-ninja@master

      - name: Run depsync
        run: |
          npm install depsync -g
          depsync
        shell: bash

      - name: Build Linux
        run: |
          mkdir -p third_party/tgfx/out/cache
          cd linux
          ./build_pag.sh
          cmake -B ./build -DCMAKE_BUILD_TYPE=Release
          cmake --build ./build -- -j 12

      - name: Save Third-Party Cache
        if: ${{ (github.event_name == 'push') && (steps.third-party-cache.outputs.cache-hit != 'true') }}
        uses: actions/cache/save@v3
        with:
          path: |
            third_party
          key: third-party-linux-${{ hashFiles('DEPS') }}-${{ hashFiles('vendor.json') }}

      - name: Job Failed
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: linux_build
          path: linux

  qt:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v3
        with:
          lfs: true

      - name: Get Third-Party Cache
        id: third-party-cache
        uses: actions/cache/restore@v3
        with:
          path: |
            third_party
          key: third-party-qt-${{ hashFiles('DEPS') }}-${{ hashFiles('vendor.json') }}
          restore-keys: third-party-qt-

      - uses: seanmiddleditch/gha-setup-ninja@master

      - name: Run depsync
        run: |
          npm install depsync -g
          depsync
        shell: bash

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          host: 'linux'
          target: 'desktop'
          dir: '${{github.workspace}}/qt/'
          install-deps: 'true'
          cache: 'true'
          cache-key-prefix: 'install-qt-action'

      - name: Build QT
        run: |
          mkdir -p third_party/tgfx/out/cache
          node build_pag -s ./qt PAGViewer -DCMAKE_PREFIX_PATH="${{env.Qt5_Dir}}/lib/cmake" -o ./out/release/viewer -a x64

      - name: Save Third-Party Cache
        if: ${{ (github.event_name == 'push') && (steps.third-party-cache.outputs.cache-hit != 'true') }}
        uses: actions/cache/save@v3
        with:
          path: |
            third_party
          key: third-party-qt-${{ hashFiles('DEPS') }}-${{ hashFiles('vendor.json') }}

      - name: Job Failed
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: qt_build
          path: out
