name: CMake

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Debug

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          lfs: true
      - name: Install Dependencies
        run: |
          pip install diff_cover
          brew install gcovr
      - name: Run sync_deps script
        run: ./sync_deps.sh 
        shell: bash 
      - name: Run autotest script
        run: |
         chmod +x autotest.sh 
         ./autotest.sh 
        shell: bash
      - uses: actions/upload-artifact@v2
        with:
          name: result
          path: result
        
        
        


      
